{% include metadata %}

<header class="jbf-header">
  <div class="jbf-header-heading">
    <a href="{{ site.baseurl }}/">{{project-name}}</a>
    <button type="button" class="open-nav" id="open-nav"></button>
  </div>

  <nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>

    <div class="nav-item nav-languages">
      {% if translations %}
      <a class="nav-language{% if work.language == language %} current{% endif %}" href="{{ work-url }}{{work.contents_directory}}/{{work.products.web['start-page']}}">{{work.language}}</a>
      {% for t in translations %}
      <a class="nav-language{% if t.language == language %} current{% endif %}" href="{{ work-url }}/{{ t.language }}{{work.contents_directory}}/{{t.products.web['start-page']}}">{{t.language}}</a>
      {% endfor %}
      {% endif %}
    </div>

    <ul>
      <li class="nav-item top-level {% if page.url == '/' %}current{% endif %}">
        {% assign home = site.html_pages | where: 'url', '/' | first %}
        <a href="{{ site.baseurl }}/">{{ home.title }}</a>
      </li>
    </ul>

    {% include nav-list %}

    <ul>
      <li class="nav-item top-level {% if page.url contains about-page %}current{% endif %}">
        <a href="{{ work-url-about-page }}">About</a>
      </li>
      <li class="nav-item top-level {% if page.url == '/search/' %}current{% endif %}">
        {% assign search = site.html_pages | where: 'url', '/search/' | first %}
        <a href="{{ site.baseurl }}/search/">{{ search.title }}</a>
      </li>
    </ul>

    <ul>
      <li class="nav-item top-level">
        <a onclick="addActive(this)">Download and print</a>
        <ul>
              {% if work.products['print-pdf'] %}<li class="nav-item"><a href="{{ work-url-translation }}/pdf"><i class="fas fa-file-pdf"></i> Printable version</a></li>{% endif %}
              {% if work.products['paged-view'] %}<li class="nav-item"><a href="{{ work-url-translation }}/paged"><i class="far fa-eye"></i> Paged view</a></li>{% endif %}
              {% if work.products['epub'] %}<li class="nav-item"><a href="{{ work-url-translation }}/epub"><i class="fas fa-book-open"></i> EPUB version</a></li>{% endif %}
              {% if work.products.pod %}<li class="nav-item"><a href="{{ work-url-translation }}/pod"><i class="fas fa-book"></i> Print-on-demand version</a></li>{% endif %}
        </ul>
      </li>
      <li class="nav-item top-level"><a href="#cite" onclick="addActive(this)">Cite</a></li>
    </ul>

  </nav>
</header>

<div id="cite" class='jbf-modal' role="dialog" aria-labelledby="Cite this book" aria-describedby="Cite this book">
  <div class="modal-content">
    <div class="modal-header">
      <a href="#" id="close">
        <div class="modal-close">
          <svg viewbox="0 0 40 40">
            <path class="modal-close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
          </svg>
        </div>
      </a>
      <div class="modal-heading">Cite this book</div>

    </div>
    <div class="modal-body jbf-container">
      <div class="jbf-block">{{creators-line}}. {{work.date|date: '%Y'}}{% if title %}. <i>{{title}}</i>{% endif %}{% if publisher %}. {{publisher.name}}{% endif %}{% if isbn %}. ISBN: {{isbn}}{% endif %}{% if issn %}. ISSN: {{issn}}{% endif %}{% if doi %}. DOI: {{doi}}{% endif %}{% if pid %}. {{pid}}{% endif %}.</div>
    </div>
  </div>
  <a href="#"><div class="modal-overlay"></div></a>
</div>

<script>
  function addActive(element){
    element.parentElement.classList.toggle('current');
  }
  /* Cite modal */
  window.onkeydown = function( event ) {
    if ( event.keyCode === 27 ) {
      document.getElementById('close').click();
    }
  };
</script>
