/* Search */
.required {
	position: relative;
}

.required::after {
	content: "REQUIRED";
	font-size: 12px;
	position: absolute;
	top: 5px;
	line-height: 1;
	color: $color-primary;
	padding-left: 5px;
}

#search-results {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		h4 {
			font-size: 2rem;
		}

		p {
			line-height: 1.5;
		}
	}
}


#search-input {
	-webkit-appearance: none;
	display: block;
	margin: 0;
	padding: 10px 20px 10px 15px;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-left: 5px solid transparent;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.8;

	&:focus {
		outline: none;
		border-left-color: $color-primary;
	}
}

/* blockquote */
blockquote {
	border-left: 5px solid #FD0;
	padding: 10px 15px;
	margin-left: -15px;
	margin-right: -10px;
	background-color: $color-primary-light;
	border-color: $color-primary;

	p:last-child {
		margin-bottom: 0;
	}

	@media (max-width: $full-width-break) {
		margin-left: 0;
		margin-right: 0;
	}
}

/* images */
img {
	max-width: 100%;
	height: auto;
}

/* Previous - next */
[rel="prev"] a, [rel="next"] a {
	font-family: "Fira Mono Bold", monospace;
	text-transform: uppercase;
	margin: 0.5rem 0 0.5rem 0;
}

[rel="prev"] a {
    float: left;
    text-align: left;
		@media (max-width: 500px)
		{
			font-size: 1.1rem;
			line-height: 2rem;
		}
}

[rel="next"] a {
    float: right;
    text-align: right;
		@media (max-width: 500px)
		{
			font-size: 1.1rem;
			line-height: 2rem;
		}
}

/* bibliography */
.bibliography {
  list-style: none;
	padding-left: 0rem;

	li {
		margin: 1.2em 0 ;
	}
}

/* Form */
form {
	font-size: 0.9em ;
  font-family: "Fira Mono", monospace ;
  font-weight: 400 ;
	margin-bottom: 4em ;
}

form p {
	margin-bottom: 0em ;
}

input,
select,
textarea {
	font-family: "Fira Mono", monospace ;
	font-size: 0.9em ;
}

label {
  display: block ;
	line-height: 1.5em ;
}

input, textarea, select {
	padding: 10px ;
	border: none ;
	opacity: 0.8 ;
	background-color: #e8eeef ;
	margin-bottom: 30px ;
}

button {
	border: none ;
	background: $color-primary ;
	color: #ffffff ;
	padding: 10px ;
}

select {
	border: none ;
}
