/* Layout */
/*.jbf-main,
.jbf-footer {
	margin-top: $space + $nav-header-height + 7;

	@media (min-width: $mobile-break) {
		margin-top: 0;
	}
}
.content, footer {
	position: relative;
	background-color: $content-background-color;
	color: $color-font-body;
}*/

/* Page */
/*
.page-header {
	h2,
	h3 {
		margin: 0.75rem 0 0 0;
		line-height: 1.1;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 2rem;
		margin-left: -1px;
		color: #888;
		letter-spacing: 0;
	}

	h3 {
		font-size: 4rem;
		margin-left: -4px;
	}

	@media (min-width: $mobile-break) {
		h2 {
			font-size: 2.65rem;
		}

		h3 {
			font-size: 5.4rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}

.page-cover {
	h2, h3 {
		margin-top: 0.5rem;
		line-height: 1.3;
		letter-spacing: -1px;
	}

	h2 {
		font-size: 3.2rem;
		margin-left: -4px;
	}

	h3 {
		font-size: 2.5rem;
		margin-left: -1px;
		color: #888;
		letter-spacing: 0;
	}

	p {
		font-family: "Fira Mono", monospace;
		font-weight: 600;
		margin-top: 3rem;
		font-size: 2rem;
		margin-bottom: 5rem;
	}

	@media (min-width: $mobile-break) {
	h2 {
			font-size: 5.5rem;
		}

	h3 {
			font-size: 3.5rem;
		}

	p {
			font-size: 2.5rem;
		}
	}

	@media (min-width: $full-width-break) {
		margin-top: 55px;
	}
}*/
