<!DOCTYPE html>
{% include metadata %}
{% include head.html %}

<body>
  {% include header.html %}

  <section class="main">
    <div class="page-cover">
      <h2>{{ title }}</h2>
      <h3>{% for creator in creators %}{{creator.firstName}} {{creator.lastName}}{% if forloop.last == true %}{% else %}, {% endif %}{% endfor %}</h3>
      <p><a href="{{site.book.first.url}}">Read the book</a></p>
    </div>
    <article class="content cover-content">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </article>
  </section>
  <script>
    document.getElementById("open-nav").addEventListener("click", function () {
      document.body.classList.toggle("nav-open");
    });
  </script>
</body>
</html>
