---
layout: microtypo
---
<!DOCTYPE html>
{% include metadata %}
{% include head.html %}
<body>
{% include header.html %}

		<section class="main">
			<div class="page-header">
				{% if page.parent %}<div class="parent">{{ page.parent }}</div>{% endif %}
				{% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
			</div>
			<article class="content">

				{{ content }}

				{% comment %}
				{% assign items = web-nav-tree %}
				{% capture page_url_last %}{{ page.url | split: "/" | last }}{% endcapture %}
				{% for item in items %}
				{% if item.file == page_url_last %}
				{% assign next_i = forloop.index0 | plus: 1 %}
				{% assign prev_i = forloop.index0 | minus: 1 %}
				{{item.file}}<br />
				Next: {{ items[next_i] }}<br />
				Previous: {{ items[prev_i] }}<br /><br />
				{% endif %}
				{% endfor %}
				{% endcomment %}

				{% if page.previous %}
				<div class="prev" title="Previous part" rel="prev">
					<a href="{{site.baseurl}}{{page.previous}}">← Previous part</a>
				</div>{% else %}
				{% endif %}
				{% if page.next %}
				<div class="next" title="Next part" rel="next">
					<a href="{{site.baseurl}}{{page.next}}">Next part →</a>
				</div>{% else %}
				{% endif %}
			</article>
{% include footer.html %}
