---
layout: microtypo
---
<!DOCTYPE html>
{% include metadata %}
{% include head.html %}
<body>
{%- include status.html -%}
{% include header.html %}

		<section class="jbf-main">
			<div class="jbf-work-header jbf-container jbf-block">
				{% if page.parent %}<div class="jbf-work-parent-heading">{{ page.parent }}</div>{% endif %}
				{% if page.title %}<h1 class="jbf-work-title-heading">{{ page.title }}</h1>{% endif %}
			</div>
			<article class="jbf-work-content jbf-container">

				{{ content }}

				{% capture page_to_look_for %}{{page.name| split: "." | first}}{% endcapture %}
				{% for p in nav-paginate-list %}
				{% if p.file == page_to_look_for %}
				{% assign next_i = forloop.index0 | plus: 1 %}
				{% assign prev_i = forloop.index0 | minus: 1 %}
				{% assign next = nav_paginate_list[next_i] %}
				{% assign prev = nav_paginate_list[prev_i] %}
				{% endif %}
				{% endfor %}

				{% if prev_i >= 0 %}
				<div class="jbl-prev" title="Previous part" rel="prev">
					<a href="{{work-url-contents-directory}}/{{prev.file}}">← {{prev.label}}</a>
				</div>{% else %}
				{% endif %}
				{% if next %}
				<div class="jbl-next" title="Next part" rel="next">
					<a href="{{work-url-contents-directory}}/{{next.file}}">{{next.label}} →</a>
				</div>{% else %}
				{% endif %}
			</article>
		</section>

{% include footer.html %}
</body>
</html>
